<div class="panel header-panel flow-text z-depth-3">
  <div id="title">All Users</div>
  </div>
<div class="full-height scroll-bar">
  <table class="striped">
    <thead>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Date joined</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.name}" , user_path(user.id)%></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%Y - %m - %d") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>